@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;

  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
       url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
       url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
       url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  background: #f7f5f5 #2da9d7;
  color: #9b9a9a;
  font-weight: 300;
  overflow-x: hidden;
}

body.fh5co-offcanvas {
  overflow: hidden;
}
/* navbar  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: url(bg.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
header{
  width:100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #000000;
  background: rgba(250, 249, 249, 0);
}
#chk1{
  display: none;
   
   
}
i{
  color: #089cff;
  cursor: pointer;
}
header .logo{
  flex: 1;
  color:#0f0f0f;
   
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}
header .search-box{
  flex: 1;
  position: relative;
}
.search-box input{
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  background:#93999c;
  border-radius: 30px;
  color:rgb(10, 25, 167);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;
   
}
.search-box button{
  cursor: pointer;
  width:100px;
  height: 40px;
  border-radius: 30px;
  border:none;
  position: absolute;
  top:0;
  right: 0;
  transform: scale(0.9);
  background: green;
  color: #b91010;
}
header ul {
  flex:2;
  display: flex;
  justify-content: space-evenly;
}
header ul li{
  list-style: none;
}
header ul li a{
  text-decoration: none;
  color:#242323;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}
header ul li a:hover{
  border-bottom: 2px solid cadetblue;
}
header .menu{
  font-size: 2.5em;
  display: none;
}
@media(max-width:1000px){
  .search-box button{
      position: absolute;
  }
  header ul{
      position: fixed;
      top:100px;
      right: -100%;
      background: rgba(0,0,0,0.5);
      height: calc(100vh - 100px);
      width:50%;
      flex-direction: column;
      align-items: center;
      transition: right 0.5s linear;
  }
   
  header .menu{
      display: block;
      width:100px;
      text-align: center;
  }
  #chk1:checked ~ ul{
      right: 0;
      
  }

}
/* batas navbar */
a:hover {
  text-decoration: none !important;
  color: #2da9d7 !important;
}
a:active, a:focus {
  outline: none;
}
figure {
  margin-bottom: 2em;
}
::-webkit-selection {
  color: #fcfcfc;
  background: #2da9d7;
}
::-moz-selection {
  color: #fcfcfc;
  background: #2da9d7;
}
::selection {
  color: #110e0e;
  background: #0ba8e6;
}
@media screen and (max-width: 480px) {
  #fh5co-header nav ul li a {
    padding: 5px;
  }
}


/* Tambahkan margin-top pada galeri foto untuk memisahkannya dari navbar */
/* .container-fluid {
  margin-top: 100px; 
} */
/* Tambahkan CSS berikut untuk gambar responsif */
/* .fh5co-project > a img {
  max-width: 100%;
  height: auto;

} */
.fh5co-project > a img {
  max-width: 100%;
  height: auto;
  margin-bottom: 198px; /* Menambahkan margin bawah */
  margin-top: 70px; /* Sesuaikan nilai margin atas sesuai kebutuhan */
}

/* Sesuaikan tata letak masonry agar responsif */
.fh5co-projects-feed {
  column-count: 3; /* Sesuaikan jumlah kolom sesuai keinginan Anda */
  column-gap: 10px; /* Sesuaikan jarak antar kolom */
}
.fh5co-projects-feed .fh5co-project {
  width: 100%; /* Pastikan setiap proyek mengambil lebar 100% dari kontainernya */
  margin-bottom: 10px; /* Tambahkan sedikit ruang antar proyek */
}
.fh5co-projects-feed .fh5co-project {
  float: 100px;
  margin: 4px 20px auto;
  width: 290px;
}
@media screen and (max-width: 980px) {
  .fh5co-projects-feed .fh5co-project {
    margin: 20px 20px 10px;
  }
}
.fh5co-projects-feed .fh5co-project > a {
  display: block;
  text-align: center;
}
/* .fh5co-projects-feed .fh5co-project > a img {
  margin-bottom: 30px;
} */
.fh5co-projects-feed .fh5co-project > a img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Sesuaikan nilai ini untuk menggeser foto ke bawah */
}
.fh5co-projects-feed .fh5co-project > a figcaption {
  font-size: 14px;
  color: #999999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-projects-feed .fh5co-project > a:hover figcaption,
.fh5co-projects-feed .fh5co-project > a:active figcaption,
.fh5co-projects-feed .fh5co-project > a:focus figcaption {
  color: #000;
}
.fh5co-projects-feed .fh5co-project > a h2 {
  font-size: 14px;
  color: #999999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-projects-feed .fh5co-project > a:hover h2, .fh5co-projects-feed .fh5co-project > a:active h2, .fh5co-projects-feed .fh5co-project > a:focus h2 {
  color: #000;
}
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  transition-property: left, right, top;
}
.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.page-content img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-content .mb0 {
  margin-bottom: 0;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span {
  color: #bfbfbf;
}
.page-content .meta a {
  color: #bfbfbf;
}
.page-content .meta a:hover, .page-content .meta a:active, .page-content .meta a:focus {
  color: #000 !important;
}
@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
#fh5co-footer {
  float: left;
  width: 100%;
  background: #afafaf;
  text-align: center;
  color: #111111;
 

}
/* navbar-download */
.fh5co-project a {
  position: relative;
  display: inline-block;
}
/* ao */


/* navbar-like */
/* Gaya ikon suka */
.like-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 27px;
  left: 0;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
}

.like-count {
  margin-left: 5px;
}

.fh5co-project:hover .like-icon {
  display: block;
}

.like-icon i {
  color: #0b71d1;
  font-size: 20px;
}

/* batas */

#fh5co-footer a:hover, #fh5co-footer a:active, #fh5co-footer a:focus {
  color: #0854b6 !important;
}
#fh5co-footer .social {
  margin-top: 1%;
}
#fh5co-footer .social a {
  padding: 5px;
  color: #030303 !important;
}
@media screen and (max-width: 480px) {
  #fh5co-footer .social a {
    padding: 5px;
  }
}
#fh5co-footer .social a:hover, #fh5co-footer .social a:active, #fh5co-footer .social a:focus {
  color: #f5f5f5 !important;
}
.square {
  list-style: square;
}
.pt70 {
  padding-top: 70px;
}
@media screen and (max-width: 480px) {
  .pt70 {
    padding-top: 30px;
  }
}
.pb70 {
  padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
  .pb70 {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
