{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Komentar</title>
    <link rel="stylesheet" href="{% static 'css/comen.css' %}" />
    <link rel="icon" href="{% static 'img/logo4.png' %}"
    type=" image/x-icon">
    <style>
      link{
       display: none;
     }
    </style>
</head>
<body>


  
      
<div class="container">
    <form id="commentForm">
        <label for="name">Nama:</label>
        <input type="text" id="name" name="name" required>

        <label for="comment">Komentar:</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>

        <button type="button" onclick="submitComment()">Submit Komentar</button>
    </form>

    <div id="comments" class="comment">
        <!-- Komentar akan muncul di sini -->
    </div>
</div>

<div class="back-to-home">
    <a href="{% url 'work' %}">
        <img src="{% static 'img/logo4.png' %}" alt="Home" width="24" height="24">
        Back to Home
    </a>
</div>

<script>
    function submitComment() {
        var name = document.getElementById("name").value;
        var commentText = document.getElementById("comment").value;

        if (name && commentText) {
            var commentDiv = document.createElement("div");
            commentDiv.innerHTML = "<p><strong>" + name + ":</strong> " + commentText + "</p>";

            document.getElementById("comments").appendChild(commentDiv);

            // Bersihkan formulir
            document.getElementById("commentForm").reset();
        }
    }
</script>

</body>
</html>
