{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kasir</title>
    <link  rel="stylesheet" href="{% static 'css/mati.css' %}">
</head>
<body>
    <div class="kasir">
        <h1>Kasir</h1>
        <p>Halo, selamat datang di Toko Online!</p>
        <div class="transaksi">
            <h2>Transaksi</h2>
            <p>Total Belanja: Rp 50.000</p>
            <p>Bayar: Rp 100.000</p>
            <p>Kembalian: Rp 50.000</p>
        </div>
        <button>Bayar</button>
    </div>
</body>
</html>